<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="CSCI-571 hw6">
    <meta name="author" content="Chong Chen">
    <title>Stock Search</title>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/data.js"></script>
    <script src="https://code.highcharts.com/stock/modules/drag-panes.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/stock/indicators/indicators.js"></script>
    <script src="https://code.highcharts.com/stock/indicators/volume-by-price.js"></script>

    <!-- <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
</head>

<body>

    <!-- <div class="site-content">
        <app-navbar></app-navbar>
        <router-outlet></router-outlet>
    </div>

    <app-footer class="footer"></app-footer> -->
    <app-high-chart-stock-search></app-high-chart-stock-search>

</body>
</html>